<%# <div class="form">
  <form method="post">
    <div class="row">
      <div class="col-25">
        <label for="date">Date de l'événement</label>
      </div>
      <div class="col-75">
        <input type="date" id="date" name="date" placeholder="Date..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="picture">Affiche</label>
      </div>
      <div class="col-75">
        <input type="file" id="picture" name="picture" accept="image/png, image/jpeg" />
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="description">Description</label>
      </div>
      <div class="col-75">
        <textarea id="description" name="description" placeholder="Description de l'événement.." style="height:200px"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <input type="submit" value="Enregistrer">
    </div>
  </form>
</div> %>

<div class="bg-form ">
  <%= simple_form_for Poster.new do |f| %>
    <div class="form-type">
      <%= f.input :date_event, label: "Dates de l'événement :" %>
    </div>

    <div class="form-type">
      <%= f.input :picture, as: :file, label: "Ajouter une affiche :" %>
    </div>

    <div class="form-type">
      <label>* Description de l'événement :</label><br>
      <%= f.text_area :content, label: "Description de l'événement :", id: 'textarea' %>
    </div>

    <div class="txt-col button-env">
      <%= f.submit "Ajouter" %>
    </div>
  <% end %>
</div>
