<div class="container" id="top">
  <%= render 'header' %>
</div>
<div class="container" id="presentation">
  <%= render 'presentation' %>
</div>
<div class="containerbis" id="event">
  <h2 style="margin-top: 50px;">Prochain événement</h2>
  <% if current_user %>
    <%= render 'form_event' %>
  <% end %>
  <%= render 'current_event' %>
</div>
<div class="container" id="production">
  <h2 style="margin-top: 50px;">Anciennes pièces jouées</h2>
  <% if current_user %>
    <%= render 'form_production' %>
  <% end %>
  <%= render 'old_production' %>
</div>
<div class="containerbis" id="contact">
  <%= render 'contact' %>
</div>
